* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-image:url("../img/montaña.jpg");
    background-size: cover;
}

.bg-cover {
    background-image: url("../img/jumbotron.jpg");
}